---
// src/components/TestimonialCard.astro
export interface Props {
    content: string;
    author: string;
    role: string;
    company: string;
    image: string;
    className?: string;
}

const { content, author, role, company, image, className = '' } = Astro.props;
---

<div class={`testimonial ${className}`}>
    <div class="testimonial-content">
        {content}
    </div>
    <div class="testimonial-author">
        <img src={image} alt={author} loading="lazy">
        <div class="author-info">
            <h5>{author}</h5>
            <p>{role}, {company}</p>
        </div>
    </div>
</div>

